{% extends 'base/base.html' %}

{% block contenido %}
<div class="card mb-4">
    <h5 class="card-header bg-gradient-success text-white">Crear Nueva Ubicación</h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <div class="form-group mb-3">
                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                <div class="text-danger">
                    {{ form.nombre.errors }}
                </div>
                {% endif %}
            </div>

            <div class="form-group mb-3">
                <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
                {{ form.descripcion }}
                {% if form.descripcion.errors %}
                <div class="text-danger">
                    {{ form.descripcion.errors }}
                </div>
                {% endif %}
            </div>

            <div class="form-check mb-3">
                {{ form.activo }}
                <label class="form-check-label" for="{{ form.activo.id_for_label }}">
                    Activo
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'ubicaciones:home_ubicaciones' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
