{% extends 'base/base.html' %}
{% block contenido %}
<div class="card shadow">
    <div class="card-header" style="background-color: #0b3873; color: white;">
        ELIMINAR BIEN NACIONAL: {{ form.instance.nombre_bien }}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p class="lead">¿Estás seguro que quieres eliminar este bien nacional?</p>
            <ul>
                <li><strong>ID:</strong> {{ form.instance.id }}</li>
                <li><strong>Nombre:</strong> {{ form.instance.nombre_bien }}</li>
                <li><strong>Modelo:</strong> {{ form.instance.numero_modelo }}</li>
                <li><strong>Objeto de Gasto:</strong> {{ form.instance.objeto_gasto }}</li>
                <li><strong>Compañía:</strong> {{ form.instance.compania }}</li>
                <li><strong>Categoría:</strong> {{ form.instance.categoria }}</li>
                <li><strong>Inventario:</strong> {{ form.instance.numero_inventario }}</li>
            </ul>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'inventario:home_bienes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
