{% extends 'base/base.html' %}

{% block estilos %}
{% endblock %}

{% block contenido %}
<div class="card shadow">
    <div class="card-header" style="background-color: #0b3873; color: white;">
        HISTORIAL DE BIENES NACIONALES
    </div>
    <div class="card-body">

        <div class="table table-striped"></div>
        <div class="mb-2"></div>

        <div class="dropdown mb-3 text-right">
            <button 
                class="btn btn-secondary dropdown-toggle" 
                type="button" 
                id="columnDropdown" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                Columnas
            </button>
            <ul class="dropdown-menu" aria-labelledby="columnDropdown">
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="0" id="col-0">
                        <label class="form-check-label" for="col-0">ID</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="1" id="col-1">
                        <label class="form-check-label" for="col-1">Bien ID</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="2" id="col-2">
                        <label class="form-check-label" for="col-2">Cambio hecho por</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="3" id="col-3">
                        <label class="form-check-label" for="col-3">Timestamp</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="4" id="col-4">
                        <label class="form-check-label" for="col-4">Nombre</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="5" id="col-5">
                        <label class="form-check-label" for="col-5">Objeto de Gasto</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="6" id="col-6">
                        <label class="form-check-label" for="col-6">Categoría</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="7" id="col-7">
                        <label class="form-check-label" for="col-7">Subcategoría</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="8" id="col-8">
                        <label class="form-check-label" for="col-8">Modelo</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="9" id="col-9">
                        <label class="form-check-label" for="col-9">Manufacturera</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="10" id="col-10">
                        <label class="form-check-label" for="col-10">Fabricante</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="11" id="col-11">
                        <label class="form-check-label" for="col-11">Proveedor</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="12" id="col-12">
                        <label class="form-check-label" for="col-12">Serial</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="13" id="col-13">
                        <label class="form-check-label" for="col-13">Número de Inventario</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="14" id="col-14">
                        <label class="form-check-label" for="col-14">Unidad de Medida</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="15" id="col-15">
                        <label class="form-check-label" for="col-15">Ubicación</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="16" id="col-16">
                        <label class="form-check-label" for="col-16">Fecha Compra</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="17" id="col-17">
                        <label class="form-check-label" for="col-17">Costo Compra</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="18" id="col-18">
                        <label class="form-check-label" for="col-18">N° Orden</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="19" id="col-19">
                        <label class="form-check-label" for="col-19">N° Factura</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="20" id="col-20">
                        <label class="form-check-label" for="col-20">Estado Fisico</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="21" id="col-21">
                        <label class="form-check-label" for="col-21">Responsable</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="22" id="col-22">
                        <label class="form-check-label" for="col-22">Notas</label>
                    </div>
                </li>
                <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input toggle-col" type="checkbox" data-col="23" id="col-23">
                        <label class="form-check-label" for="col-23">Eliminado</label>
                    </div>
                </li>
            </ul>
        </div>

        <div style="overflow-x:auto; width:100%;">
            <table id="dataTable" class="table table-striped align-middle" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bien ID</th>
                        <th>Cambio hecho por</th>
                        <th>Timestamp</th>
                        <th>Nombre</th>
                        <th>Objeto de Gasto</th>
                        <th>Categoría</th>
                        <th>Subcategoría</th>
                        <th>Modelo</th>
                        <th>Manufacturera</th>
                        <th>Fabricante</th>
                        <th>Proveedor</th>
                        <th>Serial</th>
                        <th>Número de Inventario</th>
                        <th>Unidad de Medida</th>
                        <th>Ubicación</th>
                        <th>Fecha Compra</th>
                        <th>Costo Compra</th>
                        <th>N° Orden</th>
                        <th>N° Factura</th>
                        <th>Estado Fisico</th>
                        <th>Responsable</th>
                        <th>Notas</th>
                        <th>Eliminado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in Inventario_History %}
                    <tr>
                        <td>{{ h.id }}</td>
                        <td>{{ h.bien.id }}</td>
                        <td>{{ h.changed_by }}</td>
                        <td>{{ h.timestamp|date:"j F Y, H:i:s" }}</td>
                        <td>{{ h.nombre_bien }}</td>
                        <td>{{ h.objeto_gasto }}</td>
                        <td>{{ h.categoria }}</td>
                        <td>{{ h.subcategoria }}</td>
                        <td>{{ h.numero_modelo }}</td>
                        <td>{{ h.manufacturera }}</td>
                        <td>{{ h.fabricante }}</td>
                        <td>{{ h.proveedor }}</td>
                        <td>{{ h.serial }}</td>
                        <td>{{ h.numero_inventario }}</td>
                        <td>{{ h.unidad_medida }}</td>
                        <td>{{ h.ubicacion }}</td>
                        <td>{% if h.fecha_compra %}{{ h.fecha_compra|date:"d/m/Y" }}{% endif %}</td>
                        <td>{% if h.costo_compra %}L. {{ h.costo_compra|floatformat:2 }}{% endif %}</td>
                        <td>{{ h.numero_orden }}</td>
                        <td>{{ h.numero_factura }}</td>
                        <td>{{ h.estado_fisico }}</td>
                        <td>{{ h.responsable }}</td>
                        <td>{{ h.notas }}</td>
                        <td>{{ h.eliminado|yesno:"Sí,No" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static '/base/vendor/jquery/jquery.js' %}"></script>
<script>
  $(document).ready(function() {
    var table = $('#dataTable').DataTable({
      order: [[3, 'desc']],
      language: {
        decimal:        "",
        emptyTable:     "No hay datos disponibles",
        info:           "Mostrando _START_ a _END_ de _TOTAL_ registros",
        infoEmpty:      "Mostrando 0 a 0 de 0 registros",
        infoFiltered:   "(filtrado de _MAX_ registros totales)",
        lengthMenu:     "Mostrar _MENU_ registros",
        loadingRecords: "Cargando...",
        processing:     "Procesando...",
        search:         "Buscar:",
        zeroRecords:    "No se encontraron registros",
        paginate: {
          first:    "Primero",
          last:     "Último",
          next:     "Siguiente",
          previous: "Anterior"
        },
        aria: {
          sortAscending:  ": activar orden ascendente",
          sortDescending: ": activar orden descendente"
        },
        buttons: {
          colvis: "Columnas"
        }
      },
      columnDefs: [
        { targets: [0], visible: false }  // Oculta el ID por defecto
      ]
    });

    // Inicializa checkboxes según visibilidad
    $('.toggle-col').each(function(){
      var idx = $(this).data('col');
      $(this).prop('checked', table.column(idx).visible());
    });

    // Al cambiar un checkbox, oculta o muestra la columna
    $('.toggle-col').on('change', function(){
      table.column($(this).data('col')).visible(this.checked);
    });
  });
</script>
{% endblock %}
