{% extends 'base/base.html' %}
{% block contenido %}
<div class="card mb-4">
    <h5 class="card-header bg-gradient-primary text-white">
      Editar Subcategoría: {{ form.instance.nombre }}
    </h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                <div class="text-danger">
                    {{ form.nombre.errors }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
                {{ form.descripcion }}
                {% if form.descripcion.errors %}
                <div class="text-danger">
                    {{ form.descripcion.errors }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.categoria.id_for_label }}">Categoría:</label>
                {{ form.categoria }}
                {% if form.categoria.errors %}
                <div class="text-danger">
                    {{ form.categoria.errors }}
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <div class="table table-striped"></div>
        <a href="{% url 'subcategorias:home_subcategorias' %}" class="btn btn-danger">Cancelar</a>
    </div>
</div>
{% endblock %}
