{% extends 'base\base.html' %}

{% block estilos %}

{% endblock %}
{% block contenido %}


    
<div class="card">
    <h5 class="card-header card text-center text-white bg-gradient-success mb-1">LISTADO DE CARGOS</h5>
    <div class="card-body">
        <div>
            <a href="{% url 'cargos:cargos_create' %}" class="btn btn-success">
                <i class="bi bi-person-add"></i>
                Agregar Cargo
            </a>
            <hr>
        </div>

    
    <div class="table table-striped"></div>
    <div class="mb-2">
  
</div>
    <div class="dropdown mb-3 text-right">
  <button 
    class="btn btn-secondary dropdown-toggle" 
    type="button" 
    id="columnDropdown" 
    data-bs-toggle="dropdown" 
    aria-expanded="false">
    Columnas
  </button>
  <ul class="dropdown-menu" aria-labelledby="columnDropdown">
    <li>
      <div class="form-check dropdown-item">
        <input class="form-check-input toggle-col" type="checkbox" data-col="0" id="col-0" >
        <label class="form-check-label" for="col-0">ID</label>
      </div>
    </li>
    <li>
      <div class="form-check dropdown-item">
        <input class="form-check-input toggle-col" type="checkbox" data-col="1" id="col-1">
        <label class="form-check-label" for="col-1">Nombre</label>
      </div>
    </li>
    <li>
      <div class="form-check dropdown-item">
        <input class="form-check-input toggle-col" type="checkbox" data-col="2" id="col-2">
        <label class="form-check-label" for="col-2">Descripcion</label>
      </div>
    </li>
          <div class="form-check dropdown-item">
        <input class="form-check-input toggle-col" type="checkbox" data-col="3" id="col-3">
        <label class="form-check-label" for="col-3">Creado</label>
      </div>
    </li>
    <li>
      <div class="form-check dropdown-item">
        <input class="form-check-input toggle-col" type="checkbox" data-col="4" id="col-4" >
        <label class="form-check-label" for="col-4">Modificado</label>
      </div>
    </li>
    <li>
      <div class="form-check dropdown-item">
        <input class="form-check-input toggle-col" type="checkbox" data-col="5" id="col-5">
        <label class="form-check-label" for="col-5">Acciones</label>
      </div>
    </li>
  </ul>
</div>

<div style="overflow-x:auto; width:100%;">
<table id="dataTable" class="table table-striped" style="width:100%"> 

        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha de Creacion</th>
                <th>Fecha de Modificacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cargos in Cargos %}   
            <tr>
                <td>{{cargos.id}}</td>
                <td>{{cargos.nombre}}</td>
                <td>{{cargos.descripcion}}</td>
                <td>{{cargos.creado_fecha|date:"j F Y, H:i:s" }}</td>
                <td>{{cargos.fecha_de_modificacion|date:"j F Y, H:i:s" }}</td>
                <td>
                    <a href="{% url 'cargos:cargos_edit' cargos.id %}" class="btn btn-primary">
                        <i class="bi bi-pencil-square"> Modificar </i>
                        
                    </a>
                    <a href="{% url 'cargos:cargos_delete' cargos.id %}" class="btn btn-danger">
                        <i class="bi bi-trash"> Eliminar</i>
                        
                    </a>
                </td>
            </tr>
        {% endfor %}   
        </tbody>
    </table>
  </div>
</div>
</div>

{% load static %}
<script src="{% static '/base/vendor/jquery/jquery.js' %}"></script>



<script>
  $(document).ready(function() {
    var table = $('#dataTable').DataTable({
      language: {
        decimal:        "",
        emptyTable:     "No hay datos disponibles",
        info:           "Mostrando _START_ a _END_ de _TOTAL_ registros",
        infoEmpty:      "Mostrando 0 a 0 de 0 registros",
        infoFiltered:   "(filtrado de _MAX_ registros totales)",
        lengthMenu:     "Mostrar _MENU_ registros",
        loadingRecords: "Cargando...",
        processing:     "Procesando...",
        search:         "Buscar:",
        zeroRecords:    "No se encontraron registros",
        paginate: {
          first:    "Primero",
          last:     "Último",
          next:     "Siguiente",
          previous: "Anterior"
        },
        aria: {
          sortAscending:  ": activar orden ascendente",
          sortDescending: ": activar orden descendente"
        },
        buttons: {
          colvis: "Columnas"
        }
      },
      columnDefs: [
        { targets: [0, 3, 4], visible: false } // columnas ocultas al inicio
      ]
    });
    // Inicializa checkboxes según visibilidad
    $('.toggle-col').each(function(){
      var idx = $(this).data('col');
      $(this).prop('checked', table.column(idx).visible());
    });
    // Al cambiar un checkbox, oculta o muestra la columna
    $('.toggle-col').on('change', function(){
      table.column($(this).data('col')).visible(this.checked);
    });
  });
</script>


{% endblock %}
