{% extends "base/base.html" %}
{% block contenido %}

<div class="card shadow">
    <h5 class="card-header text-center" style="background-color:rgb(177, 56, 56); color: white;">
        Iniciar Descargo de Bien Asignado
    </h5>
    <div class="card-body text-center" style="background: rgba(220, 218, 218, 0.5);border-radius: 10px;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="{{ object.responsable }}">Responsable:</label>
                {{ object.responsable.codigo_empleado }} - {{ object.responsable.nombre }}
            <div class="mb-3">
                <label for="{{ object.bien.numero_inventario }}">Bien Asignado:</label>
                {{ object.bien.numero_inventario }} - {{ object.bien.nombre_bien }}
            </div>
            <div class="mb-3">
                <label for="{{ form.comentario.id_for_label }}">Motivo/Razón del Descargo:</label>
                {{ form.comentario }}
                {% if form.comentario.errors %}
                <div class="text-danger">{{ form.comentario.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-warning">Solicitar Descargo</button>
            <a href="{% url 'asignaciones:lista' %}" class="btn btn-secondary">Cancelar</a>
            <p class="card-body text-danger"> Se generará el PDF para imprimir y firmar una vez guardes la solicitud.</p>
        </form>
    </div>
</div>

{% endblock %}
