{% extends 'base/base.html' %}

{% block contenido %}
<div class="card shadow">
  <div class="card-header" style="background-color: #0b3873; color: white;">Crear Nuevo Estado</div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
        {{ form.nombre }}
        {% if form.nombre.errors %}<div class="text-danger">{{ form.nombre.errors }}</div>{% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.descripcion.id_for_label }}">Descripcion:</label>
        {{ form.descripcion }}
        {% if form.descripcion.errors %}<div class="text-danger">{{ form.descripcion.errors }}</div>{% endif %}
      </div>

      <div class="form-group">
        <label for="{{ form.color_hex.id_for_label }}">Color:</label>
        {{ form.color_hex }}
        {% if form.color_hex.errors %}<div class="text-danger">{{ form.color_hex.errors }}</div>{% endif %}
      </div>

      

      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'estados:home_estados' %}" class="btn btn-danger">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
