{% extends 'base/base.html' %}
{% block contenido %}

<div class="card mb-4 shadow">
    <h5 class="card-header bg-gradient-danger text-white" style="background-color: #0b3873;">
        ELIMINAR BIEN: {{ form.instance.numero_inventario }}
    </h5>
    <div class="card-body" style="position: relative;z-index: 0;background: rgba(220, 218, 218, 0.5);border-radius: 10px;backdrop-filter: blur(10px);box-shadow: 0 8px 32px rgba(0,0,0,0.5);">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-danger">ELIMINAR</button>
            <a href="{% url 'bien_detalle:desagrupado' form.instance.nombre_bien form.instance.categoria.id form.instance.subcategoria.id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
